
.imageSize{
    height: auto;
    width: 100%;
}
.heightContainer{
    height: 95vh;
    width: 100%;
}
.overlayContent{
    position: absolute;
    left: 2rem;
    top: 10rem;
    z-index: 2;
}
@media (max-width: 575.98px) { 
    .heightContainer{
        height: 50vh;
        width: 100%;
    }   
 }